body {
    font-family: Arial, sans-serif;
    /* background-color: #024045; */
    background-image: url('../images/smiley/crystalball5.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat ; 
    background-attachment: fixed; /* FIXED = doesn't scroll with the page */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: white;
}

.container {
    text-align: center;
    width: 50%;
}

h1 {
    margin-bottom: 40px;
}

input {
    padding: 20px;
    width: 90%;
    margin-bottom: 30px;
    border: 1px solid #252f2c;
    border-radius: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: white;
    color: #151414;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ec871b;
}

#answer {
    margin-top: 30px;
    font-size: 1.2em;
    color: white;
    background-color: rgb(13, 2, 74);
    padding: 10px;
    display: inline-block; 
    border-radius: 5px; 
}

.hide {
    display: none;
}

p {
    font-weight: bolder;
}